/* Media Queris */

    /* Mi Laptop tiene una resolucion de 1440 x 900 aprox por la visibile incompatibilidad
    de la pagina con tamaños mas grandes y pequeños a eso */



@media (max-width: 768px) {
    body{
         margin: 0%;
        }
    
    .midIndex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: 
        "bienvenida bienvenida"
        "barraTop barraTop"
        "cancionSemana albumSemana"
        "solistaSemana grupoSemana";
        column-gap: 5px;
        row-gap: 20px; 
        }    
    
    
    iframe{
        width: 80%;
        height: 75%;
        margin: 10%;
        }
    
    .midLetras{
        grid-template-columns: repeat(1, auto) ;
        grid-template-rows: repeat(1, 400px);
        
        grid-template-areas: 
        "videoyt"
        "barraTop"
        "letra";
        
        column-gap: 5px;
        row-gap: 5px; 
        }

    .midPages{
        grid-template-columns: repeat(1, auto) ;
        grid-template-rows: repeat(1, 400px);
        
        grid-template-areas: 
        "barraTop"
        "contPages"
        "ContPages2";
        
        column-gap: 5px;
        row-gap: 5px; }
}


@media (max-width: 480px) {
    .midIndex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: 
        "bienvenida bienvenida"
        "barraTop barraTop"
        "cancionSemana albumSemana"
        "solistaSemana grupoSemana";
    
    column-gap: 5px;
    row-gap: 60px; 
    }

    .bottom img{
        width: 95%;
        height: 100%;
        }
}