/* NAV */

.navSocial{
	width: auto;
	margin: 30px auto;
    justify-content: center;
    background-color: rgba(200, 220, 220, 0.75);
    font-family: Lato-Semibold;

	ul{
		list-style: none;
		padding: 10px 20px;
		text-align: center;
	}
}

.menuNav > li{
	position: relative;
	display: inline-block;
}

.menuNav > li > a{
	display: block;
	padding: 10px 25px;
}

.menuNav li a:hover{
    background-color: rgb(255, 255, 255);
    transition: all .75s;
}

.subMenu{
	position: absolute;
	background-color: rgb(200, 220, 220);
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s;
}

.subMenu li a{
	display: block;
	padding: 8px;
	text-decoration: none;
    color: #000;
}

.menuNav li:hover .subMenu{
	visibility: visible;
	opacity: 1;
}

/* MOD BOOTSTRAP */
nav {
	img{
    width: 35px;
    height: 35px;
}
}